In [1]:
import pandas as pd

In [2]:
CA=pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx",sheet_name="CustomerAddress")

In [3]:
CA.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [4]:
CA.shape

(3999, 6)

In [5]:
CA.customer_id.isnull().sum()

0

In [6]:
CA.address.isnull().sum()

0

In [7]:
CA.postcode.isnull().sum()

0

In [8]:
CA.state.isnull().sum()

0

In [9]:
CA.country.isnull().sum()

0

In [11]:
CA.property_valuation.isnull().sum()

0