In [1]:
import pandas as pd

In [3]:
df=pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx",sheet_name='Transactions')

In [4]:
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [5]:
df.shape

(20000, 13)

In [6]:
df.transaction_id.isnull().sum()

0

In [7]:
df.product_id.isnull().sum()

0

In [8]:
df.customer_id.isnull().sum()

0

In [9]:
df.transaction_date.isnull().sum()

0

In [12]:
df.online_order.isnull().sum() # null values present

360

In [13]:
df.order_status.isnull().sum()

0

In [15]:
df.brand.isnull().sum() # null values present

197

In [16]:
df.product_line.isnull().sum()

197

In [17]:
df.product_class.isnull().sum()

197

In [19]:
bool_series=pd.isnull(df["product_class"])
df[bool_series]

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
136,137,0,431,2017-09-23,0.0,Approved,NaN,NaN,NaN,NaN,1942.61,NaN,NaN
159,160,0,3300,2017-08-27,0.0,Approved,NaN,NaN,NaN,NaN,1656.86,NaN,NaN
366,367,0,1614,2017-03-10,0.0,Approved,NaN,NaN,NaN,NaN,850.89,NaN,NaN
406,407,0,2559,2017-06-14,1.0,Approved,NaN,NaN,NaN,NaN,710.59,NaN,NaN
676,677,0,2609,2017-07-02,0.0,Approved,NaN,NaN,NaN,NaN,1972.01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19340,19341,0,443,2017-12-26,1.0,Approved,NaN,NaN,NaN,NaN,744.54,NaN,NaN
19383,19384,0,2407,2017-06-11,0.0,Approved,NaN,NaN,NaN,NaN,1098.18,NaN,NaN
19793,19794,0,2860,2017-01-13,0.0,Approved,NaN,NaN,NaN,NaN,868.56,NaN,NaN
19859,19860,0,2468,2017-06-24,1.0,Approved,NaN,NaN,NaN,NaN,1497.43,NaN,NaN
19871,19872,0,61,2017-03-17,1.0,Approved,NaN,NaN,NaN,NaN,867.92,NaN,NaN

In [ ]:
# above rows have null values for all columns except transaction_id for product_id, customer_id it is represented by 0

In [18]:
df.product_class.unique()

array(['medium', 'low', 'high', nan], dtype=object)